.about-us-description {
    width: 1336px;
    margin: auto;
    color:#3D3D3D;
    .about-us-title {
        font-size: 34px;
        line-height: 100px;
    }
    p {
        font-size: 20px;
        line-height: 36px;
        font-weight: 300;
    }
}